.prag_header_logo{
    margin: 2rem 0; font-family: 'Ubuntu', sans-serif;
}

.prag_header_button{
    margin-bottom: 2rem; font-family: 'Ubuntu', sans-serif;
}

.prag_footer_logo{
    margin: 1.5rem 0; font-family: 'Ubuntu', sans-serif;
}

.prag_footer_button{
    margin-top: 1.5rem; font-family: 'Yomogi', cursive;
}